.dashboard{
flex: 14;
    
}

.homeWidgets{
    display: flex;
    margin: 25px;
    padding: 5px 10px;
   
}
h2{
font-size: 25px;
font-weight: bold;
margin-left: 40px;
color:  #646262;
}