.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
   background-color: #2462f3;
  position: sticky;
  top: 10px;
  
}

.sidebarWrapper {
  color: #fff;
}

.sidebarMenu {
  margin-bottom: 10px;
  
}



.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(186, 190, 189);
  border-radius: 35px;
  
}
.btn{
 background-color: rgb(9, 202, 106);
 border-radius: 10px;
 padding: 7px 12px;
 color: #fff;
 border: none;
 cursor: pointer;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
